SPRING_PROFILES_ACTIVE=docker

API_PORT=8080
MYSQL_PORT=3307

MYSQL_DATABASE=efm
MYSQL_ROOT_PASSWORD=root

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/efm
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_SQL_INIT_MODE=never

JWT_RSA_PRIVATE_KEY=classpath:api-dev.pri
JWT_RSA_PUBLIC_KEY=classpath:api-dev.pub

EFM_DOCKER_ADMIN_USERNAME=admin
EFM_DOCKER_ADMIN_PASSWORD=admin
